<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260589185970-d662mil8kkfrblcf5ntlntiigrlgsfie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260589185970-d662mil8kkfrblcf5ntlntiigrlgsfie</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>260589185970-1e8j4lnub87c7gcdhb20qsjm1c72lbvp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDMF4kS9vTy1iujOUZ-xU8L-bs01osxJVI</string>
	<key>GCM_SENDER_ID</key>
	<string>260589185970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foodspeciality.foodspecialityapp</string>
	<key>PROJECT_ID</key>
	<string>food-specialities-app</string>
	<key>STORAGE_BUCKET</key>
	<string>food-specialities-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260589185970:ios:1c573ff528ffb122a8d2ab</string>
</dict>
</plist>